/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  /* --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2; */
}

body {
  font-weight: 200;
  padding: 10px 0px;
}

::selection {
  background: rgba(84, 156, 116, 0.743);
  color: rgba(0, 0, 0, 0.743);
}

h1,
h2,
h3 {
  font-weight: 100;
}

h1 b,
h2 b,
h3 b {
  font-weight: 300;
}

h1 {
  color: black;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

h1.hero {
  margin: 60px 0;
}

h2 {
  color: var(--qwik-dark-purple);
}

input[type='text'],
button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1rem;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: var(--qwik-dark-purple);
}

button.small {
  border-radius: 6px;
  font-size: 0.8rem;
  padding: 5px 10px;
}

button.gray {
  border-color: #aaa;
  color: #aaa;
}

a,
a:active,
a:visited,
a:hover {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

/* .section.bright {
  background: white;
}

.section.dark {
  background: rgba(50, 50, 50, 0.5);
} */

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.page {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 6px;
}

.container {
  padding: 20px 10px;
}

.container.center {
  text-align: center;
}

.container.mh-300 {
  min-height: 300px;
}

.topics {
  display: grid;
  grid-template-columns: 1fr;
}

/* used icon pack: https://www.svgrepo.com/collection/phosphor-thin-icons */
.icon:before {
  width: 18px;
  height: 18px;
  content: '';
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.icon-cli:before {
  background-image: url("");
}

.icon-apps:before {
  background-image: url("");
}

.icon-community:before {
  background-image: url("");
}

@media screen and (min-width: 768px) {
  body {
    padding: 60px 0px;
  }

  h1 {
    font-size: 3rem;
  }

  .page {
    width: 70vw;
  }

  .container {
    padding: 30px 70px;
  }

  .topics {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  line-height: inherit;
}
