/** Fonts */

@import url('https://fonts.googleapis.com/css2?family=Karla&family=Pathway+Gothic+One&family=Wix+Madefor+Text&display=swap');
@font-face {
  font-family: Humane;
  src: url(/src/assets/fonts/Humane-Regular.woff2);
}

/**
  font-family: 'Karla', sans-serif;
  font-family: 'Pathway Gothic One', sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
*/

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 * {
  padding: 0;
  margin: 0;
 }

html {
  line-height: 1.5;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --accent-lillac: #A28CB4;
  --accent-green: #438D61;
  --dark-brown: #322A1D;
  --light-brown: #5E503F;
  --dark-white: #F9F5E7;
  --light-white: #FFFCEF;
}

body {
  font-family: 'Wix Madefor Text', sans-serif;
  line-height: inherit;
  letter-spacing: .2rem;
  background-color: var(--light-white);
}

form {
  background-color: var(--dark-white);
}

::selection {
  background: hsla(273, 17%, 58%, 0.662);
  color: var(--light-white);
}

h1, h2 {
  font-family: Humane;
}

h1 {
  font-size: 5.5rem;
  letter-spacing: .6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.8rem;
  letter-spacing: .6rem;
  text-transform: capitalize;
}

h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: .4rem;
  font-size: 1.625rem;
  background-color: hsla(144, 36%, 41%, 0.8);
  color: var(--light-white);
  padding : 1rem;
  min-width: 70%;
  text-align: center;
}

p {
  letter-spacing: .2rem;
}

header, footer, form, button {
  font-family: 'Karla', sans-serif;
}

form {
  font-style: italic;
  font-size: 1.125rem;
}

button {
  font-size: 1.5rem;
}

footer {
  font-size: 1rem;
}

header {
  font-size: 2rem;
}








button {
  cursor: pointer;

}



ul {
  margin: 0;
}

.container {
  padding: 20px 10px;
}

.container.center {
  text-align: center;
}

.container.mh-300 {
  min-height: 300px;
}

.topics {
  display: grid;
  grid-template-columns: 1fr;
}

/* used icon pack: https://www.svgrepo.com/collection/phosphor-thin-icons */
.icon:before {
  width: 18px;
  height: 18px;
  content: '';
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.icon-cli:before {
  background-image: url("");
}

.icon-apps:before {
  background-image: url("");
}

.icon-community:before {
  background-image: url("");
}

@media screen and (min-width: 768px) {

  .page {
    width: 70vw;
  }

  .container {
    padding: 30px 70px;
  }

  .topics {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}
